/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

.selected {
  @apply font-bold border-b-4 border-white;
}

body {
  @apply bg-gray-300
}

@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --amplify-primary-color: #1890ff;
  --amplify-primary-tint: #1890ff;
  --amplify-primary-shade: #1890ff;
}
.vh-custom {
  height: 15vh;
}

.arrow-right {
  height: 0;
  width: 0;

  border-left: 40px solid #2a4365;
  border-bottom: 40px solid transparent;
  border-top: 40px solid transparent;
}

.arrow-left {
  height: 0;
  width: 0;

  border-right: 40px solid #2a4365;
  border-bottom: 40px solid transparent;
  border-top: 40px solid transparent;
}

.login-position {
  position: relative;
  top: 300px;
}

.text-white-important {
  color: white !important;
}

.arrow-fill > svg {
  fill: currentColor;
}

.arrow-fill:hover > svg {
  fill: currentColor;
  color: white;
}
